<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&display=swap"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2fc5ebdbf5.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/" class="logo"><img width="180" src="/images/logo-mercado-liebre.svg"
                    class="padding-right logo"></a>

            <form action="/" method="GET" class="search-form">
                <input type="text" name="search" placeholder="¿Qué estás buscando?" class="campo-busqueda">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
            <h2 class="copy-header none">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>

        </div>
        <h2 class="copy-header none1">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>


        <a href="#" class="hamburguer-buttom">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#"> Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 class="title">Creá tu cuenta</h2>
        <form action="#" method="POST">
            <div class="control-formulario">
                <label for="name">Nombre completo:</label>
                <input type="text" name="nombre" id="name" placeholder="Nombre y apellido" class="control" required minlength="4">
            </div>
            <div class="control-formulario">
                <label for="user">Nombre de usuario:</label>
                <input type="text" name="usuario" id="user" placeholder="Usuario" class="control" required minlength="4">
            </div>
            <div class="control-formulario">
                <label for="email">Email:</label>
                <input type="mail" name="mail" id="email" placeholder="E-mail" class="control" required>
            </div>
            <div class="control-formulario">
                <label for="date" class="negrita">Fecha de nacimiento:</label>
                <input type="date" name="fecha" class="control" required>
            </div>
            <div class="control-formulario">
                <label for="adress">Domilicio:</label>
                <input type="text" name="adress" id="adress" placeholder="Domicilio" class="control" required>
            </div>
            <div>
                <label for="profile" class="negrita">Perfil de usuario</label>
                <br>
                <input type="radio" name="profile" id="profile">Comprador
                <input type="radio" name="profile" id="profile">Vendedor
            </div>
            <br>
            <div>
                <label for="category" class="negrita">Intereses</label>
                <br>
                <input type="checkbox" name="category" id="category">Electro
                <br>
                <input type="checkbox" name="category" id="category">Moda
                <br>
                <input type="checkbox" name="category" id="category">Hogar
                <br>
                <input type="checkbox" name="category" id="category">Juguetería
                <br>
                <input type="checkbox" name="category" id="category">Vida sana
            </div>
            <br>
            <div class="control-formulario">
                <label for="avatar">Elegí tu foto de usuario</label>
                <input type="file" name="avatar" accept=".jpg">
            </div>
            <div class="control-formulario">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Elegí tu contraseña" class="control" required minlength="5"> 
            </div>
            <div class="control-formulario">
                <label for="password">Repetir contraseña</label>
                <input type="password" name="password" id="password" placeholder="Confirma tu contraseña"
                    class="control" required minlength="5">
            </div>
            <br>
            <div>
                <button type="submit" class="boton-formulario">Enviar</button>
                <button type="reset" class="boton-formulario">Borrar</button>
            </div>
            <br>

        </form>

    </main>

    <footer>
        <section>

            <div class="footers">
                <article class="width">
                    <div class="center celeste size margin cambio">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h4 class="titulo">Pagá con tarjeta o en efectivo</h4>
                    <div class="italic center gris-oscuro padding">
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                        efectivo en puntos de pago. ¡Y siempre es seguro!
                    </div>
                </article>
                <article class="width">
                    <div class="center celeste size margin cambio">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h4 class="titulo">Envío gratis desde los $2.500</h4>
                    <div class="italic center gris-oscuro padding">
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                        miles de productos. Es un beneficio de Mercado Puntos.
                    </div>
                </article>


                <article class="width">
                    <div class="center celeste size margin cambio">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h4 class="titulo">Seguridad de principio a fin</h4>
                    <div class="italic center gris-oscuro padding">
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                        hacer, porque estás siempre protegid@.
                    </div>
                </article>
            </div>



        </section>
        <div>
            <p class="gris-oscuro font-size">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>


</body>

</html>